# OS/system files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Build output (Java/Maven)
target/
*.class
*.jar

# Node.js dependencies
node_modules/

# Logs
*.log

# Environment files
.env

# Ignore Java build outputs
user-service/target/

budget-service/target/

budget-service/*.tar

# Ignore generated tar archives
user-service/*.tar
